.container {
  height: 300px;
  width: 540px;
  max-height: 300px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (min-width: 1400px) {
  .container {
    width: 640px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 740px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 840px;
  }
}
