.container {
  height: 300px;
  width: 540px;
  max-height: 300px;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

@media screen and (min-width: 1400px) {
  .container {
    width: 640px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 740px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 840px;
  }
}
