.container {
  margin-top: 20px;
  width: 500px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.error {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ff0000;
}

.input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 250px;
  border-radius: 6px;
  border: 2px solid #007580;
  padding: 5px;
  margin-right: 10px;
}

.subContainer {
  display: flex;
  align-items: center;
}

.submitContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
  color: white;
  background-color: #007580;
  border-radius: 6px;
  border: none;
  padding: 4px 5px 4px 5px;
  font-size: 12px;
}

.button:hover {
  background-color: #00464d;
}

@media screen and (min-width: 1400px) {
  .button {
    font-size: 14px;
  }
  .container {
    width: 600px;
  }
  .error {
    font-size: 16px;
  }
  .input {
    font-size: 18px;
    width: 325px;
  }
}
@media screen and (min-width: 1600px) {
  .button {
    font-size: 16px;
  }
  .container {
    width: 700px;
  }
  .error {
    font-size: 18px;
  }
  .input {
    font-size: 20px;
    width: 400px;
  }
}
@media screen and (min-width: 1900px) {
  .button {
    font-size: 18px;
  }
  .container {
    width: 800px;
  }
  .error {
    font-size: 20px;
  }
  .input {
    font-size: 22px;
    width: 475px;
  }
}
