.analytic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyticsContainer {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0px 5px 0px;
}

.button {
  cursor: pointer;
  background-color: #007580;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 4px 5px 4px 5px;
  font-size: 12px;
}

.button:hover {
  background-color: #006080;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.complete {
  color: green;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  z-index: 100;
  padding: 10px 20px 0px 20px;
  margin-bottom: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.date {
  margin: 10px 0px 10px 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.incomplete {
  color: red;
}

.label {
  font-size: 14px;
}

#online {
  color: #00ff00;
}

#offline {
  color: #d3d3d3;
}

#x {
  color: #d3d3d3;
  margin-right: 3px;
}

.complete,
.incomplete,
.total {
  font-weight: bold;
  font-size: 20px;
}

#online,
#offline {
  margin-bottom: 10px;
}

@media screen and (min-width: 1400px) {
  .container {
    width: 600px;
  }
  .button {
    font-size: 14px;
  }
  .date {
    font-size: 25px;
  }

  .label {
    font-size: 16px;
  }
  .header {
    font-size: 50px;
  }
  .complete,
  .incomplete,
  .total {
    font-size: 25px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 700px;
  }
  .button {
    font-size: 16px;
  }
  .date {
    font-size: 30px;
  }

  .label {
    font-size: 18px;
  }

  .header {
    font-size: 60px;
  }
  .complete,
  .incomplete,
  .total {
    font-size: 30px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 800px;
  }
  .button {
    font-size: 18px;
  }
  .date {
    font-size: 35px;
  }

  .label {
    font-size: 20px;
  }

  .header {
    font-size: 70px;
  }
  .complete,
  .incomplete,
  .total {
    font-size: 35px;
  }
}
