.checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  height: 15px;
  width: 15px;
}

#checked {
  color: #007580;
}

#unchecked {
  color: white;
}

#closeIcon {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background-color: white;
}

.todoCrossed {
  text-decoration: line-through;
}

.todo,
.todoCrossed {
  font-size: 18px;
  word-wrap: break-word;
  padding: 5px;
  text-align: center;
  max-width: 350px;
}

@media screen and (min-width: 1400px) {
  .todo,
  .todoCrossed {
    font-size: 22px;
  }
}
@media screen and (min-width: 1600px) {
  .todo,
  .todoCrossed {
    font-size: 26px;
  }
}
@media screen and (min-width: 1900px) {
  .todo,
  .todoCrossed {
    font-size: 30px;
  }
}
